@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

$athens-gray: #F0F0F5;
$manatee: #8585AD;
$martinique: #33334D;
$black: #000000;
$mine-shaft: #1F1F1F;

$san-marino: #414EB2;

$jade: #00AD5A;

$modal-bg: rgba(132,	132, 173, 0.2);
$header-bg: #a9b8c6;

$mobileSize: 320px;
$tabletSize: 768px;
$fullSize: 1024px;

$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
