@import "src/assets/scss/_variable.scss";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-bg;
  border: 2px solid $black;
  box-shadow: 0 0 25px $san-marino;
}